@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}


/* ===== Colours ===== */
:root{
    --body-color: #0B10D4;
    --nav-color: #2124dd;
    --side-nav: #3156be;
    --text-color: #FFFFFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
    --body: #114bec;
}

body{
    height: 100vh;
    background-color: var(--body-color);
}

body.dark{
    --body-color: #FFFFFF;
    --nav-color: #F5F5F5;
    --side-nav: #ffffff;
    --text-color: #000000;
    --search-bar: #242526;
    --body: #F5F5F5;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar li {
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i{
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

.searchToggle i.cancel{
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel{
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search{
    opacity: 0;
    pointer-events: none;
}

.searchBox{
    position: relative;
}

.searchBox .search-field{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before{
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}

.search-field input{
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i{
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 790px) {
    .centered{
        display: inline;
        width: 300px;
    }
    .work{
        font-size: 90px;
        text-align: center;
    }
    iframe{
        height: 520px;
        width: 330px;
    }
    .tabcontent{
        font-size: small;
        font-weight: lighter;
        padding: 10px;
    }
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}
#home{
    margin-top: 55px;
}



button{
    text-decoration: none;
    background: none;
    border: none;
  
}

.tabcontent {
    color: var(--text-color);
    display: none;
    padding: 60px 20px;
    height: 100%;
  }



.pink{
    color: #f06292;
    padding-top: 3rem;
}

  .form-container {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: -1rem;
}

form {
    margin-top: 3rem;
}

.form-container input,
.form-container textarea,
.form-container button {
    margin: 0 auto;
    display: block;
}

input,
textarea {
    width: 70%;
    border: none;
    border-radius: 5px;
    padding: .7rem;
    background-color: #f6ecef;
    border: 1px solid rgba(0, 0, 0, 0.172);
    color: var(--text-color);
}

textarea {
    height: 120px;
    resize: none;
}

form button {
    margin-top: 3rem;
    width: 150px;
    height: 2rem;
    font-size: 1rem;
    border: 1px solid #f06292;
    border-radius: 5px;
    color: #f06292;
    background-color: #444;
    -webkit-transition: background 320ms ease-in;
    -moz-transition: background 320ms ease-in;
    -ms-transition: background 320ms ease-in;
    -o-transition: background 320ms ease-in;
    transition: background 320ms ease-in;
}

form button:hover {
    background-color: #f06292;
    color: #444;
}
.scroll-page{
    margin-bottom: 3rem;
    margin-top: 3rem;
    width: 170px;
    height: 4rem;
    font-size: 1rem;
    border: 1px solid #ff0055;
    border-radius: 5px;
    color: #f06292;
    -webkit-transition: background 320ms ease-in;
    -moz-transition: background 320ms ease-in;
    -ms-transition: background 320ms ease-in;
    -o-transition: background 320ms ease-in;
    transition: background 320ms ease-in;
}
.scroll-page:hover{
    background-color: #f06292;
    color: #444;
}
.blue{
    color: #e81818;
}
.code{
    float: left;
   margin-right: 2rem;
    
}
hr{
    display: none;
}
.homr{
    display: grid;
    vertical-align: baseline;
    margin: 0%;
    width: 100%;
    height: auto;
    min-height: auto;
    grid-template-columns: 100%;
    justify-self: start;
    align-self: start;
}
div{
    display: block;
}
@media (min-width: 790px){
    .work{
        font-size: 1900%;
        text-align: center;
    }
    .homr{
        position: absolute;
        padding: 100px;
        height: 100%;
    }
    .code{
        height: 400px;
        float: left;
    }
    .container {
        padding: 100px; 
    }
    .btext{
        padding: 100px;
    }

}
.btext{
    line-height: 2.4rem;
    overflow-wrap: break-word;
    padding: 50px;
    background-color: var(--body);
    margin-bottom: 45px;
}
.insta{
    /* The image used */
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.techrounder.com%2Fwp-content%2Fuploads%2F2021%2F03%2Finstagram-followers.jpg&f=1&nofb=1');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contro{
      /* The image used */
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fs3-alpha.figma.com%2Fhub%2Ffile%2F297638120%2Fa5506bad-ff5a-4c66-9d00-828f443f6a1f-cover&f=1&nofb=1');
  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.containes{
    position: relative;
  text-align: center;
}
.scroll-p{
    background-color: #F2F2F2;
    width: 170px;
    height: 4rem;
    font-size: 1rem;
    border: 1px solid #ff0055;
    border-radius: 5px;
    color: #f06292;
    -webkit-transition: background 320ms ease-in;
    -moz-transition: background 320ms ease-in;
    -ms-transition: background 320ms ease-in;
    -o-transition: background 320ms ease-in;
    transition: background 320ms ease-in;
}
.scroll-p:hover{
    background-color: #f06292;
    color: #444;
}